<div class="container mx-auto pt-5">
  <div class="flex">
    <button id="create_1000" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded mx-1"
            (click)="run(1000)">
      Create 1,000 rows
    </button>

    <button id="create_10000" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded mx-1"
            (click)="run(10000)">
      Create 10,000 rows
    </button>

    <button id="append_1000" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded mx-1"
            (click)="append(1000)">
      Append 1,000 rows
    </button>

    <button id="remove_all" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded mx-1"
            (click)="removeAll()">
      Remove All
    </button>
  </div>

  <table class="table mt-5">
    <tbody>
    <tr *ngFor="let item of data; trackBy: trackById; let isEven = even; let isOdd = odd"
        class="h-12"
        [class.bg-gray-400]="isEven"
        [class.bg-gray-500]="isOdd"
    >
      <td>
        <span class="py-2 px-4">{{ item.id }}</span>
      </td>

      <td>
        <span>{{ item.label }}</span>
      </td>

      <td>
        <a>
          <button class="py-2 px-4 rounded" (click)="remove(item)">x</button>
        </a>
      </td>
    </tr>
    </tbody>
  </table>
</div>
